body {
    background-color: #B0B0B0;
    font-family: 'Tw Cen MT';
}

h1 {
    color: #E0BB6C !important;
}

.center {
    margin: auto;
    background-color: #313236;
    color: #A82C20;
    font-size: 30px;
}

.center > h1 {
    color: inherit;
    font-family: Script;
    font-size: 60px;
    margin: inherit;
}

.center > h3 {
    text-align: left;
    padding-left: 50px;
    margin: inherit;
}

#box {
    background-color: lightgrey;
    border: hidden;
    margin: auto;
    padding-top: 1px;
    text-align: center;
    width: 80%;
    padding-bottom: 70px;
}

img {
    width: 350px;
    height: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgoldenrod;
    color: white;
    text-align: center;
    filter: blur(0.5px);
    font-family: Tw Cen MT;
}

section header {
    font-family: Impact;
    color: #2E2F33;
    font-size: 40px;
}

.LoginTable {
    margin: auto;
    font-family: 'Tw Cen MT';
}

.NotImplementedLink {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 500px;
    height: 330px;
    position: relative;
}

#imageBlur, #NotImplementedPicture {
    background-image: url(kitty.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#imageBlur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

#RightText {
    text-align: right;
}

#LeftText {
    text-align: left;
}

.SubmitButton {
    background: #C8746A;
    color: #fff;
    border: 1px #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size: 20px;
    width: 130px;
}

.SubmitButton:hover {
    background: #4C0509;
    color: #fff;
    border: 1px #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.SubmitButtonGreen {
    background: #68917F;
    color: #fff;
    border: 1px #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size: 20px;
    width: 130px;
}

.SubmitButtonGreen:hover {
    background: #1C2218;
    color: #fff;
    border: 1px #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.pictureInTable {
    width: 500px;
}

#TitleTable {
    color: #A82C20;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C2218;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 80px;
    text-decoration: none;
    padding-left: 80px;
    border-radius: 10px;
}

li a:hover {
    background-color: #68917F;
}

.menuIcon {
    width: 115px;
    padding-right: 40px;
    padding-left: 20px;
}

img[alt="top"] {
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

article {
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}

article h5 {
    font-size: 20px;
    padding-right: 15px;
    padding-left: 30px;
}